/*http://jsfiddle.net/txpywsL6/1/*/
@keyframes fade {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
#chevTop {
    animation-duration: 3s;
    top: 5px;
}
#chevMid {
    animation-delay: 1s;
    top: 15px;
}
#chevBot {
    animation-delay: 2s;
    top: 25px; 
}
.chevrons .glyphicon-chevron-down {
  position: absolute;
  left: 6px;
  color: #b30000;
  animation-name: fade;
  animation-iteration-count: 3;
  animation-duration: 3s;
}
.chevron-icon {
    position: relative;
    border: 2px solid #999;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin: 0 auto;
    display: block;
    z-index: 10;
}
